.parrafo {
    font-size: 24px;
    font-family: "Brush Script MT";
    color: black;
    font-weight: bold;
    text-align: justify;
}

.subtitulo {
    font-family: "arial";
    color: red;
    text-align: justify;
}

.fondocolor {
    background-color: rgb(38, 104, 104);
}

.fondocolorsection {
    background-color: rgba(27, 155, 106, 1);
}

.fondoImagen {
    background-image: url(multimedia/RockNoticia.jpg);
    /* background-attachment: fixed; */
    opacity: 0.8;
}

footer {
    background-color: dimgray;
}

.caja1 {
    background-color: darkred;
    height: 400px;
    width: 400px;
    display: inline-block;
    margin-right: 100px;
}

.caja2 {
    background-color: blue;
    height: 400px;
    width: 400px;
    display: inline-block;
}

.imagen {
    height: 200px;
    width: 300px;
}

.caja3 {
    background-color: chocolate;
    height: 600px;
    width: 600px;
    position: relative;
    left: 150px;
    bottom: 150px;
}

.caja4 {
    background-color: darkgreen;
    height: 100px;
    width: 600px;
    position: absolute;
    top: 0px;
    right: 0px;
}